<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="/src/views/css/login.css">
</head>

<body>
    <main>
        <div class="form-login">
            <form>
                <h3 class="titulo">Controle De Estoque Guará</h3>
                <div>
                    <input type="email" id="emailLog" placeholder="Email">
                </div>
                <div>
                    <input type="password" id="passwordLog" placeholder="Senha">
                </div>
                <div>
                    <button type="button" class="clear" id="recoverPassword">Recuperar Senha</button>
                </div>
                <div>
                    <button type="button" class="solid" id="loginButton">Login</button>
                </div>
                <div>
                    <button type="button" class="outline" id="registerForm">Cadastrar</button>
                </div>
                <div id="feedback" style="margin-top: 10px;"></div>
            </form>
        </div>
        <div>

        </div>
        <div class="-modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2 class="titulo">Cadastro de Usuário</h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
                <form class="modal-form" id="formularioCadastro">
                    <div class='btUser'>
                        <input type="radio"  name="usuario" id="pessoaFisica" checked>
                        <label for="pessoaFisica">Pessoa Fisica</label>
                        
                        <input type="radio"  name="usuario" id="pessoaJuridica">
                        <label for="pessoaJuridica">Pessoa Jurídica</label>
                    </div>
                    <input type="text" class="modal-field" id="nome" placeholder="Nome" required>
                    <input type="text" class="modal-field" id="sNomeRazaoSocial" placeholder="Sobrenome" required>
                    <input type="text" class="modal-field" id="cpfCnpj" placeholder="Cpf/Cnpj" required>
                    <input type="text" class="modal-field" id="Teleone" placeholder="Telefone" required>
                    <input type="text" class="modal-field" id="emailCad" placeholder="Email" required>
                    <input type="password" class="modal-field" id="passwordCad" placeholder="Senha" required>
                    <input type="password" class="modal-field" id="passwordConfirm" placeholder="Confirmar Senha"
                        required>
                    <footer>
                        <button type="button" class="solid" id="registerButton">Cadastre-se</button>
                    </footer>
                </form>
            </div>
    </main>
    <footer class="rodape">
        Copyright &copy; Hércules Jardim & Luis Felipe Carmona
    </footer>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
    <script type="module" src="/src/views/script/interfaceLogin.js"></script>
</body>

</html>