<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/src/views/css/modal.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/src/views/css/button.css" type="text/css">
    <link href="/src/views/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/src/views/css/records.css" type="text/css">
    
</head>
<body>
    <header>
        <h1 class="header-title">Controle de Estoque de Botas Guará </h1>
    </header>
    <main>
        <button type="button" class="button blue mobile" id="cadastrarCalcado">Cadastrar Calçado</button>
        <table class="records" id="tabelaCalcados"></table>
        
        <div class="modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2>Nova Bota</h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
        
                <form class="modal-form" id="formularioBotas">
                    <input type="text" class="modal-field" id="codigo" placeholder="Código">
                    <input type="text" class="modal-field" id="categoria" placeholder="Categoria">
                    <input type="text" class="modal-field" id="tipoSolado" placeholder="Tipo de Solado">
                    <input type="text" class="modal-field" id="tipoCouro" placeholder="Tipo de Couro">
                    <input type="number" class="modal-field" id="tamanho" placeholder="Tamanho">
                    <input type="number" class="modal-field" id="quantidade" placeholder="Quantidade de Pares">
                    <footer class="modal-footer">
                        <button type="submit" class="button green" id="botaoCadastrarEditar">Salvar</button>
                    </footer>
                </form>
            
            </div>
        </div>
    </main>
    <footer>
        Copyright &copy; Hércules Jardim & Luis Felipe Carmona
    </footer>

    <script type="module" src="/src/views/script/interface.js" defer></script>
</body>
</html>